tempCodeRunnerFile.py
app/__pycache__/routes.cpython-313.pyc
app/__pycache__/__init__.cpython-313.pyc
tempfolder/1.pdf
tempfolder/tempfolde/t.pdf
tempfolder/testContent.docx
app/__pycache__/routes.cpython-313.pyc
