{% extends "base.html"%}

{%block body %}
<body>
    <div>
        <div class="row justify-content-center">
            <div class="col-xl-6" >
                <div class="text-center">
                    <br>
                    {% if title %}
                    <h1>{{ title }}</h1>
                    {% else %}
                    <h1>Empty Title</h1>
                    {% endif%}
                    <br>
                    <p>Helps you organize your files using HAN</p>
                    <form action="{{ url_for("fileClassifier")}}" method="post">
                        <label for="targetPath">Enter the path for the training dataSet: </label>
                        <input class="form-control form-control-lg" type="text" id="trainPath" name="trainPath">
                        <button class="btn btn-primary btn-lg" id="submitButton" type="submit" onclick="startProgress()">Train</button>
                        <br>
                        <label for="path">Enter your path here: </label>
                        <input class="form-control form-control-lg" type="text" id="path" name="path">
                        <label for="targetPath">Enter your target folder here: </label>
                        <input class="form-control form-control-lg" type="text" id="targetPath" name="targetPath">
                        <button class="btn btn-primary btn-lg" id="submitButton" type="submit" onclick="startProgress()">Submit</button>
                    </form>
                    {% if not issuccess %}
                    <h3 style ="color:darkred;">Wrong Path!</h3>
                    {% endif%}
                    <div class="progress-container">
                        <div class="progress-bar" id="myProgress"></div>
                    </div>
                    <br>
                </div>
            </div>
        </div>
    </div>
</body>
{% endblock %}